[submodule "library/Smooth-Div-Scroll"]
	path = library/Smooth-Div-Scroll
	url = https://github.com/tkahn/Smooth-Div-Scroll.git
[submodule "library/Metro-UI-CSS"]
	path = library/Metro-UI-CSS
	url = https://github.com/olton/Metro-UI-CSS.git
[submodule "library/Semantic-UI"]
	path = library/Semantic-UI
	url = https://github.com/Semantic-Org/Semantic-UI.git
[submodule "library/jquery-mousewheel"]
	path = library/jquery-mousewheel
	url = https://github.com/jquery/jquery-mousewheel.git
[submodule "library/react"]
	path = library/react
	url = https://github.com/facebook/react.git
